@media (orientation: portrait) {
	main {
		--height: 60vh;
		position: relative;
		height: var(--height);
		top: unset;
		right: unset;
		bottom: unset;
		left: unset;
	}

	aside {
		width: unset;
		margin: 1rem;
		.scroll {
			opacity: 100%;
		}
	}

}