:root {
	--margin: 1rem;
	--menu-width: 35rem;
	--imerge-size: 0;
	--option-size: 128px;
	--total-options: 1;
	--page-bg-color: #D8D8D8;
	--bg-color: #ffffff;
	--fg-color: #000000;
	--green: #00c562;
	--blue: #2196f3;
	--red: #E6465C;
}