main {
	position: fixed;
	display: flex;
	top: var(--margin);
	left: var(--margin);
	bottom: var(--margin);
	right: calc(var(--menu-width) + 2*var(--margin));
}

#imerge {
	margin: auto;
	// background-color: blanchedalmond;
	padding: calc(var(--imerge-size) / 10);
	width: var(--imerge-size);
	height: var(--imerge-size);
}

#initial {
	animation: appear 1s ease-out;
}

@keyframes appear {
	0% {
		r: 0;
		opacity: 0;
	}

	100% {
		r: 50%;
		opacity: 100%;
	}
}