#gallery-container {
	--fade-size: 5rem;
	width: 100%;
	overflow: hidden;
	position: relative;
	user-select: none;

	&::before, &::after {
		content: "";
		position: absolute;
		top: 0;
		width: var(--fade-size);
		height: 100%;
		z-index: 1;
	}
	&::before {
		left: 0;
		background-image: linear-gradient(90deg, var(--page-bg-color), transparent);
	}
	&::after {
		right: 0;
		background-image: linear-gradient(-90deg, var(--page-bg-color), transparent);
	}
	&:hover .scroll {
		opacity: 100%;
	}
}

.scroll {
	--size: 2rem;
	position: absolute;
	width: 0;
	height: 0;
	z-index: 2;
	opacity: 0;
	cursor: pointer;
	top: calc(50% - var(--size));
	border-top: var(--size) solid transparent;
	border-bottom: var(--size) solid transparent;
	transition: opacity 0.25s ease-in-out, transform 0.1s ease-in-out;
	&:hover {
		transform: scale(1.2);
	}
	&:active {
		transform: scale(1);
	}
	&[direction="left"] {
		left: 2%;
		border-right:	var(--size) solid var(--bg-color);
	}
	&[direction="right"] {
		right: 2%;
		border-left: var(--size) solid var(--bg-color);
	}
}

#gallery {
	position: relative;
	display: grid;
	scroll-behavior: smooth;
	overflow-y: hidden;
	// If overflow-x was set to hidden I wouldn't need all the browser specific properties to hide the horizontal scroll wheel, but it would prevent users on touch screen devices from swiping to scroll across the images in the gallery, and users on desktop from holding middle mouse button and moving left and right
	overflow-x: scroll;
	&::-webkit-scrollbar {
		display: none;
	}
	scrollbar-width: none;
	-ms-overflow-style: none;
	grid-template-columns: repeat(10, var(--option-size));
	gap: var(--margin);
	padding-left: calc(var(--fade-size)*0.8);
	.pad {
		width: calc(var(--fade-size)*0.8);
	}
	img {
		@extend .layer;
		width: var(--option-size);
		height: var(--option-size);
		transition: transform 0.1s ease-in-out;
		&:hover {
			transform: scale(1.1);
		}
		&:active {
			transform: scale(0.95);
		}
	}
}